<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Businness Developer</title>

</head>

<body id="page-topr">

  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="">
        <a href="/home">
          <img src="https://s15.postimg.cc/c05wvxxnv/encabezado.png" class="tamimagen" />
        </a>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse letranueva" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item medidanav">
            <a routerLink="">
              <a class="nav-link js-scroll-trigger nav-ds" href="#home">HOME</a>
            </a>
          </li>
          <li class="nav-item medidanav">
            <a routerLink="/sobrenosotros">
              <a class="nav-link js-scroll-trigger nav-ds" (ng-click)="recargar()" href="#sobrenosotros">SOBRE NOSOTROS</a>
            </a>
          </li>
          <li class="nav-item medidanav">
            <a routerLink="/servicios">
              <a class="nav-link js-scroll-trigger nav-ds" (ng-click)="recargar()" href="#servicios">SERVICIOS</a>
            </a>
          </li>
          <li class="nav-item medidanav">
            <a routerLink="/contacto">
              <a class="nav-link js-scroll-trigger nav-ds" (ng-click)="recargar()" href="#contacto">CONTACTO</a>
            </a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </nav>



  <!-- Seccion Titulo Principal & Fondo -->
  <section id="sobrenosotros" class="download-sections content-section text-center fondoprini" style="height: 300pt;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mx-auto" style="top: 180px; text-align: left">
          <p class="letrasobrenosotros">Sobre Nosotros</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Seccion Descripcion & Mision/Vision -->
  <section id="sobrenosotros" class="content-sectiondes text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 mx-auto contenedor ">
          <div id="peliarriba" class="cuadrado-3"></div>
          <div id="peliabajo" class="reposicion">
            <img src="https://s15.postimg.cc/vni3r0izf/sobrenosotros.jpg" class="imgsobrenosotros">
          </div>
        </div>
        <div class="col-sm-7 mx-auto text-left">
          <br><br><br>
          <p id="parrafomivi">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A laboriosam molestias aliquid optio, nobis eos numquam blanditiis
            repellendus eius doloremque molestiae quisquam sint. Eum consequatur aliquam, explicabo amet nihil aliquid? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. A laboriosam molestias aliquid optio, nobis eos numquam blanditiis
            repellendus eius doloremque molestiae quisquam sint. Eum consequatur aliquam, explicabo amet nihil aliquid?
          </p>
         </div>
      </div>

      <div class="row">
          <div class="col-sm-10 mx-auto text-left">
      <hr class="hor">
      </div>
      <div class="col-sm-2 mx-auto text-left">
          
        </div>
    
    </div>

      <br>
      <br>

      <div class="row">

        <div class="col-sm-5 mx-auto">
          <br><br><br><br> 
          <h2 class="letramisvis">Misión / Visión</h2>
          <p id="parrafomivi">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum repudiandae veritatis omnis excepturi tempora eius nulla maiores
            ducimus, error mollitia? Sed dignissimos a amet ullam nostrum voluptates sint fugiat illo. Lorem ipsum, dolor
            sit amet consectetur adipisicing elit. Perferendis possimus quidem ullam itaque modi accusamus mollitia soluta?
            Dignissimos, iste. Nulla officiis fugiat esse debitis sapiente ullam fuga eum ducimus perferendis!
          </p>
        </div>
        <div class="col-sm-7 mx-auto text-right">

          <div id="imgiabajo" class="cuadradoazul"></div>
          <div id="imgiabajo" class="cuadradoazul2"></div>

          <div id="imgiarriba" class="reubicar">
            <img src="https://s15.postimg.cc/nbremzf3f/sobre2.jpg" class="sonos">
          </div>
          <div id="imgiarriba" class="reubicar2">
            <img src="https://s15.postimg.cc/w6s8xir17/sobre1.jpg" class="sonos">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
              
    </div>
  </section>






  <!-- Seccion Pie de Pagina -->
  <footer class="colorfooter footerheight">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4 mx-auto">
          <p class="fuentefooter1">BUSINESS</p>
          <p class="fuentefooter1">DEVELOPER</p>
        </div>

        <div class="col-sm-4 mx-auto fuentefooter2 border-left border-right">
          <p class="fuentefooter2">Manuel Rendón y 11 de Noviembre</p>
          <p class="fuentefooter2" style="padding-top: 10px">Riobamba - Ecuador</p>
        </div>


        <div class="col-sm-4 mx-auto fuentefooter2">
          <p class="fuentefooter2">Teléfono: 0998020209</p>
          <p class="fuentefooter2" style="padding-top: 10px">bussdevelo2018@hotmail.com</p>
        </div>
      </div>
    </div>
  </footer>



</body>

</html>
